    <h1>Loguin<h1>
    <form action="../loguin/auth" method="post">
        <label for="">Correo:</label>
        <input type="correo" name="correo"><br>
        <label for="">password:</label>
        <input type="password" name="password"><br>
        <br>
        <button type="submit">Save</button>
    </form>