{% extends "/layout/layout.twig" %}
{% block content %}
<h1>Loguin<h1>
<div class="alert alert-info" role="alert">
  {{response}}
</div>
 <form action="../loguin/auth" method="post">
      <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" name="correo" aria-describedby="emailHelp">
      </div>
      <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Password</label>
          <input type="password" class="form-control" name="password">
      </div>
      <button type="submit" class="btn btn-primary">Sigin</button>
  </form>
{% endblock %}