{% extends "/layout/layout.twig" %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">SG</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Home</a>
        <a class="nav-link" href="#">Mis ahorros</a>
        <a class="nav-link" href="#">Meta</a>
        <a class="nav-link" href="#">Configurar</a>
      </div>
    </div>
  </div>
</nav>
<div class="row my-3">
    <div class="col-6">
        <select class="form-select" aria-label="Default select example">
        {% for i in 2021..2028 %}
            <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
        </select>
    </div>
</div>
<div id="columnchart_material" class="my-4" style="width: 100%; height: 500px;"></div>
<script src="assets/js/graficas.js"></script>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" onclick="modalAhorro()">
  Meta de ahorro
</button>

<!-- Modal -->
<div class="modal fade" id="modalAhorro" tabindex="-1" aria-labelledby="modalAhorroLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="modalAhorroLabel">Meta ahorro</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body m-4">
        <div class="row">
            <div class="col">
                 <label for="anioMetaAhorro" class="form-label">Disabled input</label>
                 <select class="form-select" id="anioMetaAhorro" onchange="modalAhorro()" aria-label="Default select example">
                    {% for i in 2021..2028 %}
                        <option value="{{ i }}">{{ i }}</option>
                    {% endfor %}
                  </select>
            </div>
            <div class="col">
                <label for="montoMeta" class="form-label">Disabled input</label>
                <input type="text" class="form-control" id="montoMeta" value="324234" aria-describedby="emailHelp">
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Guardar cambios</button>
      </div>
    </div>
  </div>
</div>

{% endblock %}
